:root {
--body-color: rgb(236, 227, 223);
--primary-color: #b8e3ea;
--secundary-color: #c7aabc;
--dark-color: #02334a;
--mute-blue: #a9bcc6;
--dark-purple: #513e5c;
--font-color: #333;

--font-stack: 'Montserrat', sans-serif;
}